.root-container {
    width: 100%;
    margin: 0 auto;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to bottom left, #e94457, #f024af);
}

.login-wrapper {
    width: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding: 70px 20px 30px;
}

.login-form {
    width: 100%;
    position: relative;
}

.login-form-title {
    display: block;
    font-family: oB;
    font-size: 22px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.p-b-80 {
    padding-bottom: 80px;
}

.validate-input {
    position: relative;
}

.input-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(179, 179, 179, 0.5);
    margin-bottom: 37px;
}

.input-wrapper input {
    font-family: oR;
    font-size: 15px;
    color: #fffcfc;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    text-align: center;
}

.login-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
    margin-bottom: 30px;
}

.login-btn-wrapper {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.login-form-btn {
    font-family: oB;
    color: #e94457;
    font-size: 19px;
    width: 100%;
    height: 50px;
    background: white;
    text-transform: uppercase;
    cursor: pointer;
}

.extra-btn-container {
    height: 25px;
    width: 100%;
    margin-bottom: 55px;
}

.extra-btn-container span {
    color: #ffff57;
    cursor: pointer;
}

.extra-btn-container span.left{
    float: left
}

.extra-btn-container span.right{
    float: right
}

.extra-btn-container.options {
    text-align: center;
}

.extra-btn-container.options div {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.extra-btn-container.options div:before {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    left: -60px;
    border: 1px solid;
    top: calc(50% - 2px);
    opacity: 0.5;
}

.extra-btn-container.options div:after {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    left: calc(100% + 10px);
    border: 1px solid;
    top: calc(50% - 2px);
    opacity: 0.5;
}