<div class="login-container">
  <div class="login-wrapper">
    <form class="login-form">
      <span class="login-form-title p-b-80">krystal clear fashion</span>

      <div class="input-wrapper validate-input" data-validate="Valid email is: a@b.c">
        <input type="text" name="name" placeholder="Username">
      </div>

      <div class="input-wrapper validate-input" data-validate="Enter password">
        <input type="password" name="password" placeholder="Password">
      </div>

      <div class="login-btn-container">
        <div class="login-btn-wrapper">
          <button class="login-form-btn" type="button" (click)="onLoginClick()">
            Login
          </button>
        </div>
      </div>

      <div class="extra-btn-container">
        <span class="left">Create an account</span>
        <span class="right">Forget Password?</span>
      </div>

      <div class="extra-btn-container options">
          <div>or login with</div>
        </div>
    </form>
  </div>
</div>